<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/reactive" routerLinkActive="active" ariaCurrentWhenActive="page">Reactive Form</a></li>
    <li><a routerLink="/template" routerLinkActive="active" ariaCurrentWhenActive="page">Template Form</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>